.App {
  text-align: center;
  background-image: url("./img/weat.jpg");
  background-repeat: no-repeat;
  background-position: 25%;
  background-size: cover;
  margin:10px;
}
.App h2{
  color: yellow;
  margin-top: 5px;
  padding-top: 10px;
}